<div
  class="container d-flex flex-column align-items-center justify-content-center"
>
  <div class="border border-dark p-5 mt-3 rounded">
    <h3 class="text-center">Tool List</h3>

    <label for="">Tool Name: </label> <br />
    <input type="text" [(ngModel)]="name" /> <br />

    <label for="">Tool Price: </label> <br />
    <input type="number" [(ngModel)]="price" /> <br />

    <button
      type="button"
      (click)="addTools()"
      class="btn btn-outline-danger mt-3 px-4"
    >
      Add
    </button>
  </div>
</div>

<div class="container d-flex align-items-center pt-3">
  <div class="card w-25 h-55 mx-3" *ngFor="let tools of tools">
    <div class="card-header text-center">TOOLS</div>
    <div class="card-body">
      <ol>
        <li>{{ tools.toolsName }}</li>
        <li>{{ tools.toolsPrice }}</li>
      </ol>
    </div>
  </div>
</div>
