<div
  class="container d-flex flex-column align-items-center justify-content-center"
>
  <div class="border border-dark p-5 mt-3 rounded">
    <h3 class="text-center">Game List</h3>

    <label for="">Game Name: </label> <br />
    <input type="text" [(ngModel)]="name" /> <br />

    <button
      type="button"
      (click)="addGames()"
      class="btn btn-outline-primary mt-3 px-4"
    >
      Add
    </button>
  </div>
</div>

<div class="container d-flex align-items-center pt-3">
  <div class="card w-25 h-55 mx-3" *ngFor="let games of gameList; let i=index">
    <div class="card-header text-center">GAMES</div>
    <div class="card-body">
      <ol>
        <li>{{ games.gameName }}</li>
      </ol>
    </div>
    <div class="card-footer">
      <button (click)="removeGame(i)" class="btn btn-outline-danger">
        Remove
      </button>
    </div>
  </div>
</div>
